<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="~{layout/layout::library}" ></th:block>
</head>
<body>
<div th:replace="~{layout/layout::navbar}"></div>
<form action="/students/create" method="post" th:object="${student}">
    <h2>Thêm mới</h2>
    ID:
    <input th:field="*{id}" placeholder="enter id"><br>
    Name:
    <input th:field="*{name}" placeholder="enter name"><br>
    Gender:
    <input type="radio" th:field="*{gender}" value="true">Male
    <input type="radio" th:field="*{gender}" value="false">Female<br>
    Language :
    <input type="checkbox" th:field="*{languages}" value="Java"> JAVA
    <input type="checkbox" th:field="*{languages}" value="PHP"> PHP
    <input type="checkbox" th:field="*{languages}" value="SQL">SQL<br>
    Class ID:
<!--    <input type="text" th:field="*{classId}">-->
    <select th:field="*{classId}">
        <option value="0">-----Chon-------</option>
        <option value="1">C08</option>
        <option value="2">C09-</option>
        <option value="3">C10-</option>
    </select>
    <button>Save</button>
</form>
</body>
</html>